django
gunicorn
whitenoise
psycopg2-binary
requests
urllib3
python-dotenv
selenium
icalendar
django-embed-video
ics
django-allauth
PyJWT
cryptography
Pillow
django-cloudinary-storage
cloudinary
pytz
django-anymail[sendgrid]>=12.0
django-cors-headers