{% load static %}
{% load embed_video_tags %}

<!-- <article class="bg-gray rounded-lg border border-gray-200 hover:shadow-lg transition-shadow duration-300 overflow-hidden"> -->
<article class="bg-gray-800 rounded-lg hover:shadow-lg transition-shadow duration-300 overflow-hidden">
  <div class="aspect-[16/9] relative overflow-hidden bg-gray-100">

    {% if highlight.is_embeddable %}

      {% video highlight.url as my_video %}
        <a href="{% url 'highlight:show_highlight' highlight.pk %}">
          <img src="{{ my_video.thumbnail }}" alt="{{ highlight.name }}" class="w-full h-full object-cover">
        </a>
      {% endvideo %}

    {% elif highlight.manual_thumbnail_url %}
      <a href="{% url 'highlight:show_highlight' highlight.pk %}">
        <img src="{{ highlight.manual_thumbnail_url }}" alt="{{ highlight.name }}" class="w-full h-full object-cover">
      </a>
    {% else %}
      <a href="{% url 'highlight:show_highlight' highlight.pk %}">
        <div class="w-full h-full bg-gray-100 flex items-center justify-center">
          <svg class="w-12 h-12 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m15.75 10.5 4.72-4.72a.75.75 0 0 1 1.28.53v11.38a.75.75 0 0 1-1.28.53l-4.72-4.72M4.5 18.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H4.5A2.25 2.25 0 0 0 2.25 7.5v9A2.25 2.25 0 0 0 4.5 18.75Z" />
          </svg>
        </div>
      </a>
    {% endif %}
  </div>

  <div class="p-3">
    <h3 class="text-lg font-bold text-white-500 mb-2 line-clamp-2 leading-tight">
      <a href="{% url 'highlight:show_highlight' highlight.pk %}" class="hover:text-gray-300 transition-colors">
        {{ highlight.name }}
      </a>
    </h3>

    {% if user.is_authenticated and user.is_staff %}
    <div class="pt-2 border-t border-gray-100 flex justify-between items-center">
      <a href="{% url 'highlight:edit_highlight' highlight.pk %}" class="text-white-500 hover:text-white-600 text-sm transition-colors">
          Edit
      </a>
      <a href="{% url 'highlight:delete_highlight' highlight.pk %}" class="text-red-600 hover:text-red-700 text-sm transition-colors">
          Delete
      </a>
    </div>
    {% endif %}
    
  </div>
</article>