{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="w-full pt-16 min-h-screen">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-2">

    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'highlight:add_highlight' %}" class="inline-flex items-center px-4 py-2 bg-gray text-gray-300 font-semibold outline outline-2 outline-gray-300 outline-offset-[-2px] rounded-md hover:bg-gray-600 hover:text-white transition-colors mb-4">
      Add Highlight
    </a>
    {% endif %}

   <!-- Search and Filter Section -->
    <div class="mb-8 bg-gray rounded-lg border border-gray-700 p-4">
      <form method="GET" action="{% url 'highlight:show_main_page' %}" class="flex items-center gap-4">
        
        <!-- Search Input -->
        <div class="relative flex-grow">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <!-- Heroicon: magnifiying-glass -->
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
            </svg>
          </div>
            <input
              type="text"
              name="q"
              value="{{ request.GET.q }}"
              class="block w-full pl-10 pr-3 py-2 border border-gray-700 rounded-md leading-5 bg-gray-800 text-gray-100 placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 focus:ring-gray-500 focus:border-gray-500 sm:text-sm"
              placeholder="Search highlights by name..."
            >
        </div>

        <!-- Search Button -->
        <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
          Search
        </button>

      </form>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      
      {% for highlight in highlight_list %}
        {% include 'card_highlight.html' with highlight=highlight %}

      {% empty %}
        
        <div class="col-span-1 md:col-span-2 lg:col-span-3">
          <div class="bg-gray rounded-lg border border-gray-200 p-12 text-center">
            <h3 class="text-lg font-medium text-gray-100 mb-2">No Highlights found</h3>
          </div>
        </div>

      {% endfor %}

    </div>
  </div>
</div>
{% endblock content %}