<form method="POST" action="{% url 'auth_profil:edit_profile' %}" class="space-y-4">
    {% csrf_token %}
    
    <div>
        <label for="{{ form.username.id_for_label }}" class="block text-sm font-semibold text-foreground mb-2">Username</label>
        {{ form.username }}
    </div>
    <div>
        <label for="{{ form.first_name.id_for_label }}" class="block text-sm font-semibold text-foreground mb-2">First Name</label>
        {{ form.first_name }}
    </div>
    <div>
        <label for="{{ form.last_name.id_for_label }}" class="block text-sm font-semibold text-foreground mb-2">Last Name</label>
        {{ form.last_name }}
    </div>

    <div class="flex gap-4 !mt-6">
        <button type="button" id="cancel-edit-btn" class="w-full text-center py-3 font-semibold bg-gray-600 hover:bg-gray-700 rounded-lg">Cancel</button>
        <button type="submit" class="w-full py-3 font-semibold bg-primary text-primary-foreground hover:bg-primary/90 rounded-lg">Save Changes</button>
    </div>
</form>
<script>
    // Tambahkan event listener untuk tombol cancel
    document.getElementById('cancel-edit-btn').addEventListener('click', () => {
        document.getElementById('edit-profile-modal').classList.add('hidden');
    });
</script>